#checkin-form{
	padding: 5px;
}

#find-booking-form{
	padding: 5px;
}

.dropdown-menu{
	width: 400px;
}

body{
	background-image: url('background/5.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

nav{
	opacity: 0.8;
	color: white;
}

.container{
	opacity: 0.8;
}

#pagination a {
	display:inline-block;
	margin-right:5px;
}