#plane_logo{
	width: 250px;
	height: 125px;
	padding: 5%;
}

#signin{
	padding-top: 5%;
}

h1, a{
	color: white;
}

footer { 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

body{
    background-image: url('background/5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    opacity: 0.7;
    color: white;
}

.container{
    opacity: 0.8;
}

footer{
    opacity: 0.8;
}